{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }]
  ],

  "plugins": [],

  "env": {
    "production": {
      "plugins": []
    },

    "test": {
      "presets": [
        ["@babel/preset-env", {
          "targets": {
            "browsers": ["last 2 Chrome versions"]
          }
        }]
      ],
      "plugins": []
    }
  }
}
