{
  "presets": [
    ["env", { "modules": false }]
  ],

  "plugins": [],

  "env": {
    "production": {
      "plugins": []
    },

    "test": {
      "presets": ["env"],
      "plugins": []
    }
  }
}
